In [1]:
import backtrader as bt
import alpaca_backtrader_api as api
import alpaca_trade_api as tradeapi
import talib as ta
import pandas as pd
from config import key_id, secret_key

#Backtrader has support for talib
#https://www.backtrader.com/docu/talib/talib/

In [2]:
api = tradeapi.REST(key_id, secret_key)

In [3]:
#turn into dataframe form
data = api.polygon.historic_agg_v2('AAPL', 1, 'minute', _from='2006-01-01', to='2019-02-01').df
data.iloc[-10:-1]

                              open     high      low    close   volume
timestamp
2006-01-13 16:35:00-05:00  12.2371  12.2386  12.2371  12.2386   7700.0
2006-01-13 16:39:00-05:00  12.2300  12.2300  12.2300  12.2300  76356.0
2006-01-13 16:41:00-05:00  12.2386  12.2386  12.2386  12.2386   1330.0
2006-01-13 16:42:00-05:00  12.2429  12.2429  12.2429  12.2429   1820.0
2006-01-13 16:43:00-05:00  12.2429  12.2429  12.2429  12.2429   1400.0
2006-01-13 16:47:00-05:00  12.2443  12.2443  12.2443  12.2443   1974.0
2006-01-13 16:49:00-05:00  12.2443  12.2443  12.2443  12.2443   2450.0
2006-01-13 16:50:00-05:00  12.2443  12.2443  12.2443  12.2443   3500.0
2006-01-13 16:51:00-05:00  12.2443  12.2486  12.2443  12.2443  19978.0

In [12]:
import talib.abstract as tab
tab.RSI

{'name': 'RSI', 'group': 'Momentum Indicators', 'display_name': 'Relative Strength Index', 'function_flags': ['Function has an unstable period'], 'input_names': OrderedDict([('price', 'close')]), 'parameters': OrderedDict([('timeperiod', 14)]), 'output_flags': OrderedDict([('real', ['Line'])]), 'output_names': ['real']}

In [28]:
#make sure to import these packages
from pandas import DataFrame
import talib.abstract as tab
#abstract automatically extracts the columns and periods from the data itself, no input required



#feel free to add or subtract more indicators for any other strategy you want to use
def populateindicators(dataframe) -> DataFrame:
        #exponential moving averages
        dataframe['ema_high'] = tab.EMA(dataframe, timeperiod=5, price='high')
        dataframe['ema_close'] = tab.EMA(dataframe, timeperiod=5, price='close')
        dataframe['ema_low'] = tab.EMA(dataframe, timeperiod=5, price='low')
        
        dataframe['rsi'] = tab.RSI(dataframe, timeperiod=20, price='close')
        stoch_fast = tab.STOCHF(dataframe, 10.0, 3.0, 0.0, 3.0, 0.0)
        dataframe['fastd'] = stoch_fast['fastd']
        dataframe['fastk'] = stoch_fast['fastk']
        dataframe['adx'] = tab.ADX(dataframe)

        # required for graphing
        bollinger =ta.BBANDS(data.close,timeperiod=10)
        dataframe['bb_lowerband'] = bollinger[2]
        dataframe['bb_upperband'] = bollinger[0]
        dataframe['bb_middleband'] = bollinger[1]

        return dataframe

In [30]:
populateindicators(data)[30:50]

,open,high,low,close,volume,ema_high,ema_close,ema_low,rsi,fastd,fastk,adx,bb_lowerband,bb_upperband,bb_middleband
timestamp,,,,,,,,,,,,,,,
2006-01-03 08:25:00-05:00,10.3771,10.3771,10.3657,10.3657,4550.0,10.378640,10.373190,10.371623,53.637526,7.561529e+01,74.416796,46.635174,10.359304,10.400416,10.37986
2006-01-03 08:26:00-05:00,10.3771,10.3771,10.3771,10.3771,700.0,10.378126,10.374493,10.373449,56.912063,6.600706e+01,44.755245,46.766989,10.359636,10.396924,10.37828
2006-01-03 08:27:00-05:00,10.3771,10.3771,10.3771,10.3771,4200.0,10.377784,10.375362,10.374666,56.912063,5.546817e+01,47.232472,46.889388,10.360804,10.392596,10.37670
2006-01-03 08:28:00-05:00,10.3771,10.3771,10.3771,10.3771,11900.0,10.377556,10.375941,10.375477,56.912063,5.060027e+01,59.813084,47.003045,10.362695,10.387845,10.37527
2006-01-03 08:29:00-05:00,10.3771,10.3771,10.3729,10.3729,7000.0,10.377404,10.374928,10.374618,55.235667,4.907749e+01,40.186916,47.202793,10.363487,10.384493,10.37399
2006-01-03 08:30:00-05:00,10.3743,10.3771,10.3743,10.3771,7000.0,10.377303,10.375652,10.374512,56.581897,5.233333e+01,57.000000,47.388273,10.366899,10.383641,10.37527
2006-01-03 08:32:00-05:00,10.3771,10.3771,10.3714,10.3714,13300.0,10.377235,10.374234,10.373475,54.251135,4.189564e+01,28.500000,47.632538,10.366210,10.382890,10.37455
2006-01-03 08:33:00-05:00,10.3714,10.3729,10.3714,10.3714,37800.0,10.375790,10.373290,10.372783,54.251135,3.800000e+01,28.500000,47.859356,10.365707,10.382813,10.37426
2006-01-03 08:34:00-05:00,10.3714,10.3714,10.3714,10.3714,700.0,10.374327,10.372660,10.372322,54.251135,3.566667e+01,50.000000,48.069973,10.366046,10.380474,10.37326
2006-01-03 08:35:00-05:00,10.3757,10.3757,10.3714,10.3743,9198.0,10.374784,10.373207,10.372015,55.342738,5.131287e+01,75.438596,47.879166,10.366426,10.380674,10.37355
2006-01-03 08:36:00-05:00,10.3700,10.3700,10.3700,10.3700,4900.0,10.373190,10.372138,10.371343,53.355673,4.181287e+01,0.000000,47.750429,10.368466,10.379494,10.37398
2006-01-03 08:37:00-05:00,10.3700,10.3700,10.3686,10.3686,19600.0,10.372126,10.370958,10.370429,52.707103,2.514620e+01,0.000000,47.681727,10.367197,10.379063,10.37313
2006-01-03 08:39:00-05:00,10.3686,10.3686,10.3657,10.3657,3500.0,10.370951,10.369206,10.368853,51.346190,4.736952e-15,0.000000,47.726643,10.365224,10.378756,10.37199
2006-01-03 08:41:00-05:00,10.3657,10.3657,10.3643,10.3643,1575.0,10.369201,10.367570,10.367335,50.681200,4.736952e-15,0.000000,47.822449,10.363469,10.377951,10.37071
2006-01-03 08:42:00-05:00,10.3643,10.3643,10.3643,10.3643,1400.0,10.367567,10.366480,10.366323,50.681200,4.736952e-15,0.000000,47.911411,10.361850,10.377850,10.36985
2006-01-03 08:43:00-05:00,10.3657,10.3714,10.3657,10.3657,3493.0,10.368845,10.366220,10.366116,51.378925,3.645833e+00,10.937500,47.149211,10.362027,10.375393,10.36871
2006-01-03 08:44:00-05:00,10.3700,10.3700,10.3700,10.3700,700.0,10.369230,10.367480,10.367410,53.505542,2.031250e+01,50.000000,46.441454,10.362062,10.375078,10.36857
2006-01-03 08:45:00-05:00,10.3657,10.3700,10.3643,10.3643,21140.0,10.369487,10.366420,10.366374,50.427897,2.031250e+01,0.000000,46.092630,10.361195,10.374525,10.36786
2006-01-03 08:46:00-05:00,10.3643,10.3643,10.3514,10.3514,35091.0,10.367758,10.361413,10.361382,44.350600,1.666667e+01,0.000000,46.368119,10.354380,10.377340,10.36586
2006-01-03 08:47:00-05:00,10.3514,10.3571,10.3429,10.3571,23100.0,10.364205,10.359976,10.355222,47.304364,1.660819e+01,49.824561,46.954508,10.353088,10.375192,10.36414

In [10]:
orders=[]
analysis = pd.DataFrame(index = data.index)
timestamps = analysis.index

analysis['ADX'] = ta.ADX(data.high, data.low, data.close)
analysis['RSI'] = ta.RSI(data.close)
analysis['SMA5'], analysis['SMA10'], analysis['SMA20'] = ta.SMA(data.close,5), ta.MA(data.close,10), ta.MA(data.close,20)
analysis['PLUS_DI'] = ta.PLUS_DM(data.high, data.low)
analysis['MINUS_DI'] = ta.MINUS_DM(data.high, data.low)
analysis['BBANDUP'], analysis['BBANDDOWN'] = (ta.BBANDS(data.close,20,2,1.5))[0], (ta.BBANDS(data.close,20,2,1.5))[1]
analysis['%K'], analysis['%D'] = ta.STOCHF(data.high, data.low, data.close)
MACD = ta.MACD(data.close, fastperiod=12, slowperiod=26, signalperiod=9)
#for time in timestamps:
#    orders.append([time, symbol, strategies.strat1(time, analysis, data)])

In [11]:
MACD_df=pd.DataFrame(index = data.index)
MACD_df['macd']=MACD[0]
MACD_df['macdsignal']=MACD[1]
MACD_df['macdhist']=MACD[2]

#pd.DataFrame(MACD[0])+pd.DataFrame(MACD[1])+pd.DataFrame(MACD[2])

In [14]:
MACD_df[50:60]

                               macd  macdsignal  macdhist
timestamp
2006-01-03 08:48:00-05:00 -0.005156   -0.003622 -0.001534
2006-01-03 08:49:00-05:00 -0.005291   -0.003956 -0.001335
2006-01-03 08:50:00-05:00 -0.005105   -0.004186 -0.000919
2006-01-03 08:51:00-05:00 -0.005133   -0.004375 -0.000758
2006-01-03 08:52:00-05:00 -0.005208   -0.004542 -0.000666
2006-01-03 08:53:00-05:00 -0.005096   -0.004653 -0.000443
2006-01-03 08:54:00-05:00 -0.004949   -0.004712 -0.000237
2006-01-03 08:55:00-05:00 -0.004779   -0.004725 -0.000053
2006-01-03 08:56:00-05:00 -0.004590   -0.004698  0.000108
2006-01-03 08:57:00-05:00 -0.004390   -0.004637  0.000246

In [16]:
analysis[40:50]

,ADX,RSI,SMA5,SMA10,SMA20,PLUS_DI,MINUS_DI,BBANDUP,BBANDDOWN,%K,%D
timestamp,,,,,,,,,,,
2006-01-03 08:36:00-05:00,47.750429,48.364505,10.37170,10.37398,10.376920,0.030391,0.082328,10.393077,10.376920,0.000000,1.695906e+01
2006-01-03 08:37:00-05:00,47.681727,47.411533,10.37114,10.37313,10.375705,0.028220,0.077847,10.390467,10.375705,0.000000,1.695906e+01
2006-01-03 08:39:00-05:00,47.726643,45.415306,10.37000,10.37199,10.374345,0.026204,0.075187,10.387438,10.374345,0.000000,-9.473903e-15
2006-01-03 08:41:00-05:00,47.822449,44.442472,10.36858,10.37071,10.372990,0.024332,0.071216,10.384219,10.372990,0.000000,-9.473903e-15
2006-01-03 08:42:00-05:00,47.911411,44.442472,10.36658,10.36985,10.371920,0.022594,0.066129,10.382132,10.371920,0.000000,-9.473903e-15
2006-01-03 08:43:00-05:00,47.149211,45.789236,10.36572,10.36871,10.371990,0.028081,0.061406,10.382010,10.371990,19.718310,6.572770e+00
2006-01-03 08:44:00-05:00,46.441454,49.813279,10.36600,10.36857,10.371560,0.026075,0.057020,10.381137,10.371560,80.281690,3.333333e+01
2006-01-03 08:45:00-05:00,46.092630,45.040500,10.36572,10.36786,10.371060,0.024212,0.058647,10.381048,10.371060,0.000000,3.333333e+01
2006-01-03 08:46:00-05:00,46.368119,36.513771,10.36314,10.36586,10.369560,0.022483,0.067358,10.381671,10.369560,0.000000,2.676056e+01
2006-01-03 08:47:00-05:00,46.954508,41.760257,10.36170,10.36414,10.368845,0.020877,0.071046,10.382074,10.368845,49.824561,1.660819e+01

In [24]:
bband=ta.BBANDS(data.close,timeperiod=20)

In [30]:
bband[0]

timestamp
2006-01-03 06:37:00-05:00          NaN
2006-01-03 07:14:00-05:00          NaN
2006-01-03 07:15:00-05:00          NaN
2006-01-03 07:16:00-05:00          NaN
2006-01-03 07:18:00-05:00          NaN
2006-01-03 07:30:00-05:00          NaN
2006-01-03 07:32:00-05:00          NaN
2006-01-03 07:33:00-05:00          NaN
2006-01-03 07:36:00-05:00          NaN
2006-01-03 07:37:00-05:00          NaN
2006-01-03 07:57:00-05:00          NaN
2006-01-03 08:00:00-05:00          NaN
2006-01-03 08:01:00-05:00          NaN
2006-01-03 08:02:00-05:00          NaN
2006-01-03 08:03:00-05:00          NaN
2006-01-03 08:05:00-05:00          NaN
2006-01-03 08:07:00-05:00          NaN
2006-01-03 08:08:00-05:00          NaN
2006-01-03 08:10:00-05:00          NaN
2006-01-03 08:12:00-05:00    10.422596
2006-01-03 08:13:00-05:00    10.420205
2006-01-03 08:14:00-05:00    10.419354
2006-01-03 08:16:00-05:00    10.418456
2006-01-03 08:17:00-05:00    10.416772
2006-01-03 08:18:00-05:00    10.414006
2006-01-03 08:19:00-05:00    10.415727
2006-01-03 08:20:00-05:00    10.415845
2006-01-03 08:21:00-05:00    10.416161
2006-01-03 08:22:00-05:00    10.415744
2006-01-03 08:23:00-05:00    10.416081
                               ...
2006-01-13 16:09:00-05:00    12.242617
2006-01-13 16:10:00-05:00    12.241026
2006-01-13 16:11:00-05:00    12.244151
2006-01-13 16:12:00-05:00    12.246007
2006-01-13 16:15:00-05:00    12.246795
2006-01-13 16:16:00-05:00    12.246834
2006-01-13 16:17:00-05:00    12.247412
2006-01-13 16:18:00-05:00    12.247745
2006-01-13 16:19:00-05:00    12.245433
2006-01-13 16:21:00-05:00    12.243189
2006-01-13 16:22:00-05:00    12.243350
2006-01-13 16:23:00-05:00    12.243529
2006-01-13 16:24:00-05:00    12.243792
2006-01-13 16:25:00-05:00    12.244388
2006-01-13 16:27:00-05:00    12.244391
2006-01-13 16:30:00-05:00    12.244290
2006-01-13 16:31:00-05:00    12.243730
2006-01-13 16:32:00-05:00    12.244079
2006-01-13 16:33:00-05:00    12.244079
2006-01-13 16:34:00-05:00    12.244167
2006-01-13 16:35:00-05:00    12.244392
2006-01-13 16:39:00-05:00    12.244392
2006-01-13 16:41:00-05:00    12.243313
2006-01-13 16:42:00-05:00    12.242945
2006-01-13 16:43:00-05:00    12.243954
2006-01-13 16:47:00-05:00    12.245176
2006-01-13 16:49:00-05:00    12.246226
2006-01-13 16:50:00-05:00    12.247160
2006-01-13 16:51:00-05:00    12.247935
2006-01-13 16:52:00-05:00    12.247935
Length: 5000, dtype: float64

In [38]:
import talib.abstract as tab
emascore=pd.DataFrame()

emascore['high']=tab.EMA(data, timeperiod=5, price='high')

In [41]:
emascore[40:50]

                                high
timestamp
2006-01-03 08:36:00-05:00  10.373190
2006-01-03 08:37:00-05:00  10.372126
2006-01-03 08:39:00-05:00  10.370951
2006-01-03 08:41:00-05:00  10.369201
2006-01-03 08:42:00-05:00  10.367567
2006-01-03 08:43:00-05:00  10.368845
2006-01-03 08:44:00-05:00  10.369230
2006-01-03 08:45:00-05:00  10.369487
2006-01-03 08:46:00-05:00  10.367758
2006-01-03 08:47:00-05:00  10.364205

In [42]:
tab.STOCHF(data, 5.0, 3.0, 0.0, 3.0, 0.0)

                                fastk       fastd
timestamp
2006-01-03 06:37:00-05:00         NaN         NaN
2006-01-03 07:14:00-05:00         NaN         NaN
2006-01-03 07:15:00-05:00         NaN         NaN
2006-01-03 07:16:00-05:00         NaN         NaN
2006-01-03 07:18:00-05:00         NaN         NaN
2006-01-03 07:30:00-05:00         NaN         NaN
2006-01-03 07:32:00-05:00  100.000000  100.000000
2006-01-03 07:33:00-05:00  100.000000  100.000000
2006-01-03 07:36:00-05:00   52.767528   84.255843
2006-01-03 07:37:00-05:00   21.875000   58.214176
2006-01-03 07:57:00-05:00  100.000000   58.214176
2006-01-03 08:00:00-05:00   77.388535   66.421178
2006-01-03 08:01:00-05:00   95.541401   90.976645
2006-01-03 08:02:00-05:00  100.000000   90.976645
2006-01-03 08:03:00-05:00  100.000000   98.513800
2006-01-03 08:05:00-05:00  100.000000  100.000000
2006-01-03 08:07:00-05:00   66.666667   88.888889
2006-01-03 08:08:00-05:00   86.139986   84.268884
2006-01-03 08:10:00-05:00   93.201903   82.002852
2006-01-03 08:12:00-05:00   84.940555   88.094148
2006-01-03 08:13:00-05:00   83.949802   87.364087
2006-01-03 08:14:00-05:00   81.175694   83.355350
2006-01-03 08:16:00-05:00   81.175694   82.100396
2006-01-03 08:17:00-05:00   80.184941   80.845443
2006-01-03 08:18:00-05:00   89.968896   83.776510
2006-01-03 08:19:00-05:00   73.328149   81.160662
2006-01-03 08:20:00-05:00   50.000000   71.099015
2006-01-03 08:21:00-05:00   36.900369   53.409506
2006-01-03 08:22:00-05:00   79.906542   55.602304
2006-01-03 08:23:00-05:00   33.177570   49.994827
...                               ...         ...
2006-01-13 16:09:00-05:00  100.000000   88.759690
2006-01-13 16:10:00-05:00   33.720930   77.906977
2006-01-13 16:11:00-05:00  100.000000   77.906977
2006-01-13 16:12:00-05:00  100.000000   77.906977
2006-01-13 16:15:00-05:00   39.860140   79.953380
2006-01-13 16:16:00-05:00   30.069930   56.643357
2006-01-13 16:17:00-05:00   24.561404   31.497158
2006-01-13 16:18:00-05:00   24.561404   26.397579
2006-01-13 16:19:00-05:00    0.000000   16.374269
2006-01-13 16:21:00-05:00   66.666667   30.409357
2006-01-13 16:22:00-05:00   66.666667   44.444444
2006-01-13 16:23:00-05:00   66.666667   66.666667
2006-01-13 16:24:00-05:00   59.154930   64.162754
2006-01-13 16:25:00-05:00  100.000000   75.273865
2006-01-13 16:27:00-05:00   42.000000   67.051643
2006-01-13 16:30:00-05:00   19.444444   53.814815
2006-01-13 16:31:00-05:00   22.480620   27.975022
2006-01-13 16:32:00-05:00    0.000000   13.975022
2006-01-13 16:33:00-05:00   16.470588   12.983736
2006-01-13 16:34:00-05:00  100.000000   38.823529
2006-01-13 16:35:00-05:00  100.000000   72.156863
2006-01-13 16:39:00-05:00   14.000000   71.333333
2006-01-13 16:41:00-05:00  100.000000   71.333333
2006-01-13 16:42:00-05:00  100.000000   71.333333
2006-01-13 16:43:00-05:00  100.000000  100.000000
2006-01-13 16:47:00-05:00  100.000000  100.000000
2006-01-13 16:49:00-05:00  100.000000  100.000000
2006-01-13 16:50:00-05:00  100.000000  100.000000
2006-01-13 16:51:00-05:00   24.561404   74.853801
2006-01-13 16:52:00-05:00    0.000000   41.520468

[5000 rows x 2 columns]